<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1><span style="--index: 1;" class="one">A</span><span style="--index: 2;" class="two">l</span><span style="--index: 3;" class="three">t</span><span style="--index: 4;" class="four">a</span><span style="--index: 5;" class="five">i</span><span style="--index: 6;" class="six">r</span></h1>
        <section>
            <ul>
                <li>
                    <a href="#" class="parallaxCard">
                        <p>3D sculpting</p>
                        <img src="./images/scene.png" alt="">
                        <img src="./images/cutout.png" alt="">
                        <img src="./images/name.png" alt="">
                        <img src="./images/border.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="parallaxCard">
                        <p>UX/UI design</p>
                        <img src="./images/scene.png" alt="">
                        <img src="./images/cutout.png" alt="">
                        <img src="./images/name.png" alt="">
                        <img src="./images/border.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="parallaxCard">
                        <p>3D sculpting</p>
                        <p>UX/UI design</p>
                        <img src="./images/scene.png" alt="">
                        <img src="./images/cutout.png" alt="">
                        <img src="./images/name.png" alt="">
                        <img src="./images/border.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="parallaxCard">
                        <p>special effects</p>
                        <img src="./images/scene.png" alt="">
                        <img src="./images/cutout.png" alt="">
                        <img src="./images/name.png" alt="">
                        <img src="./images/border.svg" alt="">
                    </a>
                </li>       
                <li>
                    <a href="#" class="parallaxCard">
                        <p>3D sculpting</p>
                        <img src="./images/scene.png" alt="">
                        <img src="./images/cutout.png" alt="">
                        <img src="./images/name.png" alt="">
                        <img src="./images/border.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="parallaxCard">
                        <p>special effects</p>
                        <img src="./images/scene.png" alt="">
                        <img src="./images/cutout.png" alt="">
                        <img src="./images/name.png" alt="">
                        <img src="./images/border.svg" alt="">
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <footer></footer>
</body>
<canvas id="dotCanvas"></canvas>
<script src="./scripts/background.js"></script>
<script src="./scripts/paralax.js"></script>
<script src="./scripts/cursor.js"></script>
</html>